/* página inicial */

:root{
    --fonteprincipal: "Familjen Grotesk", sans-serif;
    --fontesecundaria: "Anaheim", sans-serif;
    --laranja: #E85C0D;
}

*{
    margin: 0;
    padding: 0;
}


.navbar{
    background-color: var(--laranja);
    margin-bottom: 5em;
    font-family: var(--fonteprincipal);
}

.logoscs{
    width: 2.5em;
}

.botao__doacao{
    background-color: #FCC4A5; 
    border-color: #FCC4A5; 
    font-size: 16px;
}


.botao__doacao:hover{
    background-color: #e4ac8e;
    border: 1px solid #e4ac8e;
    transition: 0.3s;
}

.banner{
    background-image: url(../imgs/backgrounds/banner\ verduras.jpeg);
    height: 37rem;
    background-repeat: no-repeat;
    font-family: var(--fonteprincipal);
}


.texto__banner{
    font-size: 60px;
    font-style: italic;
    width: 75rem;
}

.texto2{
    font-size: 24px;
    width: 65rem;
}

.joinus{
    background-color: #ACBD7C;
    width: 301px;
    height: 78px;
}


.joinus:hover{
    padding-bottom: 20px;
    transition: 0.3s;
    background-color: #ACBD7C;
}

.numeros{
    background-color: var(--laranja);
    height: 291px;
    font-family: var(--fontesecundaria);
}

.conheca {
    font-family: var(--fontesecundaria);
}

.cestas, .campanhas {
    flex: 1; /* Faz com que os itens ocupem igualmente o espaço disponível */
    min-width: 200px; /* Largura mínima */
    text-align: center; /* Centraliza o texto */
}

.link__cestas{
    background-image: url(../imgs/itens/cestas_de_verduras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fonteprincipal);
    text-decoration: none;
    display: block; /* Faz o link ocupar todo o espaço */
    width: 100%;
    height: 325px;
    position: relative 
}

.link__campanhas{
    background-image: url(../imgs/itens/campanhas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fonteprincipal);
    text-decoration: none;
    display: block; /* Faz o link ocupar todo o espaço */
    width: 100%;
    height: 325px;
    position: relative 
}

.link__cestas:hover , .link__campanhas:hover{
    border: 3px solid var(--laranja);
    transition: 0.1s;
}

.cestas__basicas{
    font-family: var(--fontesecundaria);
}

.info__cestas{
    margin-top: 10em;
}


.nossosagricultores{
    background-image: url(../imgs/backgrounds/casal-agricultores.png);
    background-repeat: repeat-x;
    height: 39.5em;
    background-position: center;
    margin-top: 8em;
}

.texto__agricultores{
    text-shadow: 0px 4px 4px 0px #00000040;
}

.texto2__agricultores{
    font-family: var(--fontesecundaria);
    width: 50em ;
}

footer{
    background-color: var(--laranja);
    font-family: var(--fonteprincipal);
    height: 3em;
}


/* telas de celular */
@media (min-width: 390px) and (max-width: 757px){

.banner{
    background-image: url(../imgs/backgrounds/banner\ verduras.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--fonteprincipal);
}

.content__banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto__banner{
    font-size: 30px;
    font-style: italic;
    width: 400px;
}

.texto2{
    font-size: 20px;
    width: 25rem;
}


.joinus{
    width: 10em;
}

.numeros{
    height: 100%;
}

.dados_container{
    flex-direction: column;
}

.produtos {
    display: flex;
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
    width: 100%; /* Garante que ocupe 100% da largura */
}

.link__cestas{
    width: 350px;
}

.link__campanhas{
    width: 350px;
}

.info__cestas{
    flex-direction: column;
    gap: 50px;
}

.descricao_cesta{
    flex-direction: column;
}

.texto2__agricultores{
    width: 16em;
    
}

}

/* telas de tablet */
@media (min-width: 757px) and (max-width: 1193px){

    .texto__banner{
        font-size: 2.5em;
        font-style: italic;
        width: 600px;
    }
    
    .texto2{
        font-size: 20px;
        width: 35rem;
    }

    .dados_container{
        flex-direction: column;
    }

    .numeros{
        height: 100%;
    }

    .produtos{
        flex-direction: column;
    }

    .info__cestas{
        flex-direction: column;
        gap: 50px;
    }

    .descricao_cesta{
        flex-direction: column;
    }

    .texto2__agricultores{
        width: 30em;
        
    }
}









